Body {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #fff;
}

/* UTILITIES */
 .box {
     background: grey;
     height: 40px;
     margin: 1px;   
     }

/* HEADER */   
/* NAV-BAR */
.top-nav {
    height: 105px;
    background: #2c3e50;
}

/* HEADER GREEN CONTAINER */
.green-container-header {
    height: 663px;
    background: #1abc9c;
}

/* MAIN */
/* Top main */
.top-main {
    height: 850px;
    background: #fff;
}

/* Mid main */
.mid-main {
    height: 610px;
    background: #1abc9c;
}

/* Low main */
.low-main {
    height: 990px;

}

/* MEDIA QUERY 0 --> 749PX (XS) */
@media screen and (max-width: 749px) {
    /* HEADER */
    /* Top nav */
    .top-nav {
        padding-top: 10px;
    }

    .left-nav {
        text-align: center;
    }

    .right-nav {
        text-align: center;
    }

    /* Green header container */
    .green-container-header {
        padding-top: 40px;
    }

    .img-green-header {
        text-align: center;
        margin-bottom: 25px;
    }

     .logo-green-header {
        text-align: center;
        margin-bottom: 25px;
    }

    .info-header-green {
        text-align: center;
        margin-bottom: 25px;
    }

    /* MAIN */
    /* Top main */
    .top-main {
        padding-top: 50px;
    }
    
    .portfolio-logo {
        text-align: center;
        padding-top: 25px;
        margin-bottom: 25px;
        color: #2c3e50;
    }

    .img-top-main {
        text-align: center;
        margin-bottom:25px;
        color: #2c3e50;
    }

}   
