Body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #fff;
}

/* HEADER */  
/* Nav bar */
.navbar-default {
    background: #2c3e50;
    margin: 0;
    border-radius: 0;
    border: none;
}

.top-nav {
    max-width: 100%;
    background: #2c3e50;
}

/* Header green container */
.green-container-header {
    max-width: 100%;
    background: #1abc9c;
}

/* MAIN */
/* Top main */
.top-main {
    max-width: 100%;
    background: #fff;
}

/* Mid main */
.mid-main {
    max-width: 100%;
    background: #1abc9c;
}

/* Low main */
.low-main {
    max-width: 100%;
}

/* FOOTER */
/* Top footer */
.top-footer {
    max-width: 100%;
    background: #2c3e50;
}

/* Low footer */
.low-footer {
    max-width: 100%;
    text-align: center;
    background: #1a252f;
}

/* MEDIA QUERY 0 --> 749PX (XS) */
@media screen and (max-width: 749px) {
    /* HEADER */
     /* Nav bar */
     .navbar-default .navbar-brand {
        font-size: 25px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
    }

    /* Top nav */
    .top-nav {
        padding-top: 20px;
        text-align: center;
    }

    /* Green header container */
    .green-container-header {
        padding-top: 50px;
        text-align: center;
    }

    .green-container-header img {
        height: 250px;
        margin-top: 50px;
        margin-bottom: 35px;
    }

    .green-container-header h1 {
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    .green-container-header i {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .green-container-header p {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 45px;
    }

    /* MAIN */
    /* Top main */
    .top-main {
        padding: 0;
        text-align: center;
    }

    .top-main h2 {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 25px;
        margin-bottom: 20px;
        color: #2c3e50;
    }

    .top-main i {
        font-size: 35px;
        color: #2c3e50;
        margin-bottom: 25px;
    }

    .top-main img  {
        max-width: 100%;
        margin-bottom: 15px;
        border-radius: 10px;
        color: #2c3e50;
    }

    /* Mid main */
    .mid-main  {
        text-align: center;
    }

    .mid-main h2 {
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 20px;
    }

    .mid-main i {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .mid-main p {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .mid-main button {
        height: 70px;
        margin-bottom: 45px;
        border: 2px solid #fff;
        background: #1abc9c;
    }

    .mid-main button i {
        font-size: 20px;
        margin: 0 10px;
    }

    /* Low main */
    .low-main {
        text-align: center;
    }

    .low-main h2 {
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 20px;
        color: #2c3e50;
    }

    .low-main i {
        font-size: 40px;
        margin-bottom: 25px;
        color: #2c3e50;
    }

    .low-main button {
        margin-bottom: 35px;
    }

    /* FOOTER */
    /* Top footer */
    .top-footer {
        text-align: center;
        background: #2c3e50;
    }

    .top-footer h4 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    .top-footer i  {
        width: 60px;
        height: 60px;
        font-size: 30px;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #fff;
        border-radius: 100%;
        color: #fff;
    }

    .top-footer p {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .top-footer p a {
        color: #1abc9c;
    }

    /* Low footer */
    .low-footer p  {
        line-height: 70px;
    }
}   

/* MEDIA QUERY 750PX --> 969PX TABLET */
@media screen and (min-width: 750px) {
    /* HEADER */
    /* Nav bar */
    .navbar-default .navbar-brand {
        font-size: 25px;
        font-weight: 700;
        margin: 15px;
        color: #fff;
        text-transform: uppercase;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        font-weight: 700;
        margin: 15px 10px;
        text-transform: uppercase;
        color: #fff;
    }

    /* Green header container */
    .green-container-header {
        padding-top: 50px;
        text-align: center;
    }

    .green-container-header img {
        height: 250px;
        margin-top: 100px;
        margin-bottom: 10px;
    }

    .green-container-header h1 {
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    .green-container-header i {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .green-container-header p {
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 45px;
    }

    /* MAIN */
    /* Top main */
    .top-main {
        text-align: center;
        margin-bottom: 20px;
    }

    .top-main h2 {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 25px;
        margin-bottom: 20px;
        color: #2c3e50;
    }

    .top-main i {
        font-size: 35px;
        color: #2c3e50;
        margin-bottom: 25px;
    }

    .top-main img  {
        max-width: 100%;
        margin-bottom: 15px;
        border-radius: 10px;
        color: #2c3e50;
    }

    /* Mid main */
    .mid-main  {
        text-align: center;
    }

    .mid-main h2 {
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 20px;
    }

    .mid-main i {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .mid-main p {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .mid-main button {
        width: 220px;
        height: 70px;
        margin-bottom: 45px;
        border: 2px solid #fff;
        background: #1abc9c;
    }

    .mid-main button i {
        font-size: 20px;
        margin: 0 10px;
    }

    /* Low main */
    .low-main {
        text-align: center;
    }

    .low-main h2 {
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 20px;
        color: #2c3e50;
    }

    .low-main i {
        font-size: 40px;
        margin-bottom: 35px;
        color: #2c3e50;
    }

    .low-main button {
        margin-bottom: 35px;
    }

    /* FOOTER */
    /* Top footer */
    .top-footer {
        text-align: center;
        background: #2c3e50;
    }

    .top-footer h2 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .top-f-p {
        padding-top: 28px;
    }
    
    .top-footer i  {
        width: 50px;
        height: 50px;
        font-size: 20px;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #fff;
        border-radius: 100%;
        color: #fff;
    }

    .top-footer p {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .top-footer p a {
        color: #1abc9c;
    }

    /* Low footer */
    .low-footer p  {
        font-size: 14px;
        line-height: 80px;
    }
}   

/* MEDIA QUERY 970PX --> 1169PX MIDDLE */
@media screen and (min-width: 970px) {
    /* HEADER */
    /* Nav bar */
    .navbar {
        margin-bottom: 25px;
    }

    .navbar-default .navbar-brand {
        font-size: 25px;
        font-weight: 700;
        margin: 20px;
        color: #fff;
        text-transform: uppercase;
    }

    .navbar-default .navbar-brand:hover {
        color: #fff;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        font-weight: 700;
        margin: 20px 15px;
        text-transform: uppercase;
        color: #fff;
    }

    .navbar-default .navbar-nav > li > a:hover {
        color: #1abc9c;
    }

    /* Green header container */
    .green-container-header {
        padding-top: 50px;
        text-align: center;
    }

    .green-container-header img {
        height: 280px;
        margin-top: 150px;
        margin-bottom: 10px;
    }

    .green-container-header h1 {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    .green-container-header i {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .green-container-header p {
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 80px;
    }

    /* MAIN */
    /* Top main */
    .top-main {
        text-align: center;
        padding: 0;
        margin-bottom: 25px;
    }

    .top-main h2 {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 25px;
        margin-bottom: 20px;
        color: #2c3e50;
    }

    .top-main i {
        font-size: 35px;
        color: #2c3e50;
        margin-bottom: 25px;
    }

    .top-main img  {
        max-width: 100%;
        margin-bottom: 15px;
        border-radius: 10px;
        border-radius: 10px;
        color: #2c3e50;
    }

    /* Mid main */
    .mid-main  {
        text-align: center;
    }

    .mid-main h2 {
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 20px;
    }

    .mid-main i {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .mid-main p {
        font-size: 18px;
        margin-bottom: 35px;
    }

    .mid-main button {
        width: 220px;
        height: 70px;
        margin-bottom: 45px;
        border: 2px solid #fff;
        background: #1abc9c;
    }

    .mid-main button i {
        font-size: 20px;
        margin: 0 10px;
    }

    .mid-main button:hover {
        background: #fff;
        border: transparent;
        color: rgba(24, 19, 19, 0.863);
    }

    /* Low main */
    .low-main {
        text-align: center;
    }

    .low-main h2 {
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 20px;
        color: #2c3e50;
    }

    .low-main i {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .low-main button {
        margin-bottom: 35px;
    }

    /* FOOTER */
    /* Top footer */
    .top-footer {
        text-align: center;
        background: #2c3e50;
    }

    .top-footer h4 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .top-f-h2 {
        margin-bottom: 2px;
    }
    
    .top-footer i  {
        width: 50px;
        height: 50px;
        font-size: 20px;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #fff;
        border-radius: 100%;
        color: #fff;
    }

    .top-footer i:hover {
        background: #fff;
        color: #2c3e50;
    }

    .top-footer p {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .top-footer p a {
        color: #1abc9c;
    }

    /* Low footer */
    .low-footer p  {
        font-size: 14px;
        line-height: 80px;
    }
}   

/* MEDIA QUERY 1170PX (DESKTOP) */
@media screen and (min-width: 1170px) {
    /* HEADER */
    /* Nav bar */ 
    .navbar-default .navbar-brand {
        font-size: 25px;
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
    }

    .navbar-default .navbar-brand:hover {
        color: #fff;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        font-weight: 900;
        margin: 20px 15px;
        text-transform: uppercase;
        color: #fff;
    }

    /* Green header container */
    .green-container-header {
        text-align: center;
    }

    .green-container-header img {
        height: 250px;
        margin-bottom: 10px;
    }

    .green-container-header h1 {
        font-size: 60px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    .green-container-header i {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .green-container-header p {
        font-size: 25px;
        font-weight: 400px;
        margin-bottom: 100px;
    }

    /* MAIN */
    /* Top main */
    .top-main {
        text-align: center;
        margin-bottom: 25px;
    }

    .top-main h2 {
        font-size: 45px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 55px;
        margin-bottom: 20px;
        color: #2c3e50;
    }

    .top-main i {
        font-size: 35px;
        color: #2c3e50;
        margin-bottom: 35px;
    }

    .top-main img  {
        width: 350px;
        height: 250px;
        max-width: 100%;
        margin-bottom: 60px;
        border-radius: 10px;
        color: #2c3e50;
    }

    /* Mid main */
    .mid-main  {
        text-align: center;
    }

    .mid-main h2 {
        font-size: 45px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 20px;
    }

    .mid-main i {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .mid-main p {
        font-size: 19px;
        margin-bottom: 35px;
        text-align: left;
    }

    .mid-main button {
        width: 220px;
        height: 60px;
        margin-bottom: 45px;
        border: 2px solid #fff;
        background: #1abc9c;
    }

    .mid-main button i {
        font-size: 20px;
        margin: 0 10px;
    }

    .mid-main button:hover {
        background: #fff;
        border: transparent;
        color: rgba(24, 19, 19, 0.863);
    }

    /* Low main */
    .low-main {
        text-align: center;
    }

    .low-main h2 {
        font-size: 45px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 25px;
        color: #2c3e50;
    }

    .low-main i {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .low-main button {
        margin-bottom: 45px;
    }

    /* FOOTER */
    /* Top footer */
    .top-footer {
        text-align: center;
        background: #2c3e50;
    }

    .top-footer h4 {
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;

        margin-bottom: 40px;
    }

    .top-f-h2 {
        margin-bottom: 2px;
    }

    .top-footer i  {
        width: 50px;
        height: 50px;
        font-size: 20px;
        padding: 13px;
        margin-bottom: 20px;
        border: 2px solid #fff;
        border-radius: 100%;
        color: #fff;
    }

    .top-footer i:hover {
        background: #fff;
        color: #2c3e50;
    }

    .top-footer p {
        font-size: 20px;
        margin-bottom: 70px;
    }

    .top-footer p a {
        color: #1abc9c;
    }

    /* Low footer */
    .low-footer p  {
        font-size: 13px;
        line-height: 80px;
    }
}   