Body {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #fff;
}

/* UTILITIES */
 .box {
     background: grey;
     height: 40px;
     margin: 1px;   
     }

/* HEADER */   
/* NAV-BAR */
.top-nav {
    height: 105px;
    background: #2c3e50;
}

/* HEADER GREEN CONTAINER */
.green-container-header {
    height: 663px;
    background: #1abc9c;
}

/* MAIN */
/* Top main */
.top-main {
    height: 850px;
    background: #fff;
}

/* Mid main */
.mid-main {
    height: 610px;
    background: #1abc9c;
}

/* Low main */
.low-main {
    height: 990px;
}

/* FOOTER */
/* Top footer */
.top-footer {
    height: 300px;
    background: #2c3e50;
}

/* Low footer */
.low-footer {
    height: 100px;
    text-align: center;
    background: #1a252f;
}

/* MEDIA QUERY 0 --> 749PX (XS) */
@media screen and (max-width: 749px) {
    /* HEADER */
    /* Top nav */
    .top-nav {
        padding-top: 20px;
        text-align: center;
    }

    .nav-bar-content {
        margin-bottom: 25px;
    }

    /* Green header container */
    .green-container-header {
        padding-top: 40px;
        text-align: center;
    }

    .img-green-header {
        margin-bottom: 25px;
    }

     .logo-green-header {
        margin-bottom: 25px;
    }

    .info-header-green {
        margin-bottom: 25px;
    }

    /* MAIN */
    /* Top main */
    .top-main {
        padding-top: 50px;
    }
    
    .portfolio-logo {
        text-align: center;
        padding-top: 25px;
        margin-bottom: 25px;
        color: #2c3e50;
    }

    .img-top-main {
        text-align: center;
        margin-bottom:25px;
        color: #2c3e50;
    }

    /* Mid main */
    .mid-main  {
        padding-top: 30px;
        text-align: center;
    }

    .logo-mid-main {
        margin-bottom: 25px;
    }

    .mid-main-left {
        margin-bottom: 25px;

    }

    .mid-main-right {
        margin-bottom: 25px;
    }

    .mid-main-low-btn {
        margin-bottom: 25px;
    }

    /* Low main */
    .low-main {
        padding-top: 30px;
        text-align: center;
        color: #2c3e50;
    }

    .low-main-content {
        padding: 20px;
    }

    /* FOOTER */
    /* Top footer */
    .top-footer {
        padding-top: 35px;
        text-align: center;
        background: #2c3e50;
    }

    .top-footer-content {
        margin-bottom: 45px;
    }

    .low-footer {
        padding-top: 40px;
    }
}   

/* MEDIA QUERY 750PX -->  */
